<%- include('header') -%>

<body>
  <a target="_blank" href="/play"> Go to Play </a> <br>

  <div id="playlistTemplate">
    <h1>Current playlist</h1>
    <div id="playlist">
      {{#playlist}}
      <div id="item">
        <h3 id="title">{{title}}</h3>
        <a href='{{url}}'></a>
        <img id="img" src={{thumbnail}}> </img>
      </div>
      {{/playlist}}
    </div>
  </div>
  <div id="divInput">
    <h1>Search</h1>
    <input type="text" placeholder="Search for a youtube video here" id="searchText"></input>
    <button id="searchButton"> Search </button>
    <div id="searchResults" style="display:none">
      <h1>Results</h1>
      <div style="display:none">
        <h2>Youtube videos</h2>
        <div id="searchResults-videos" style="height:530px;width:1800px;"></div>
      </div>
      <div style="display:none">
        <h2>Youtube Music songs</h2>
        <div id="searchResults-music_songs" style="height:530px;width:1800px;"></div>
      </div>
      <div style="display:none">
        <h2>Youtube Music videos</h2>
        <div id="searchResults-music_videos" style="height:530px;width:1800px;"></div>
      </div>
    </div>
    <h1>Add manually</h1>
    <input type="text" placeholder="Paste a youtube link here" id="videoUrl"></input>
    <button id="sendButton"> Send </button>
  </div>
</body>

<%- include('footer') -%>
